@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: Montserrat, Raleway;
    font-weight: 300;
    color: black;
}

/* headings and home button */

h1, h2 {
    font-family: Montserrat, Raleway;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: aqua;
}

#home {
    float: left;
    font-size: inherit;
    margin-left: 30px;
    color: black;
    border-radius: 12px;
}



/* navigation links */

#pages {
    font-size: 100%;
    letter-spacing: 4px;
    line-height: 100px;
}

#pages li {
    float: right;
    list-style-type: circle;
    margin-right: 50px;
}

#pages a {
    text-decoration: none;
    color: inherit;
}

#pages a:hover {
    border: 1px solid rgb(238, 15, 15);
}

.active {
    border: 1px solid black;
}

/* Top "house" image and Introduction */

#house-surround {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#house {
    height: 600px;
    width: 100%;
    background: url('https://i.imgur.com/MpW0RDQ.png') no-repeat;
    float: right;
}


.cover-text {
    float: right;
    font-size: 100%;
    font-family: Montserrat, Raleway;
    letter-spacing: 4px;
    width: 400px;
    height: 300px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(255, 233, 204, 0.644);
    bottom: 30px;
    right: 150px;
    position: absolute;
    color: black;
}

/* style for the first three sections */

.sections {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    padding-right: 30px;
    border-style: double;
    border-color: aqua;
    text-align: center;
    list-style-position: inside;
}

#crops-list {
    list-style-position: inside;
}

#section-1 {
    background-color: burlywood;
}

#section-3 {
    background-color: burlywood;
}



