@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: Montserrat, Raleway;
    font-weight: 300;
    color: black;
    padding-bottom: 30px;
    background-color: whitesmoke;
}

/* home button and navigation links */

#home {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: aqua;
    background-color: burlywood;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 80px;
    margin-left: 5%;
}

#home:hover {
    background-color: antiquewhite;
}

h1 {
    font-family: Montserrat, Raleway;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: aqua;
    Background-color: burlywood;
}

.pages {
    line-height: 100px;
    background-color: burlywood;
}

.pages li {
    float: right;
    list-style-type: circle;
    margin-right: 50px;
}

.pages a {
    text-decoration: none;
    color: inherit;
}

.pages a:hover {
    border: 1px solid lawngreen;
}

.active {
    border: 1px solid aqua;
}

/* Top "house" image and Introduction */

#house-surround {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#house {
    display: block;
    margin-left: 90px;
    margin-top: 100px;
    width: auto;
    float: left;
    border-style: double;
    border-color: aqua;
}


.cover-text {
    float: right;
    font-size: 100%;
    font-family: Montserrat, Raleway;
    letter-spacing: 4px;
    width: 30%;
    height: auto;
    background-color: antiquewhite;
    bottom: 30px;
    position: absolute;
    right: 150px;
    margin: 5px;
    text-align: center;
    border-style: double;
    border-color: aqua;
}

/* style for the first three sections */

.sections {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    padding-right: 30px;
    border-style: double;
    border-color: aqua;
    text-align: center;
    list-style-position: inside;
}

#crops-list {
    list-style-position: inside;
}

#section-1 {
    background-color: burlywood;
}

#section-3 {
    background-color: burlywood;
}

/* style for the former tenants section */

#sibling-list {
    list-style-type: upper-roman;
    list-style-position: inherit;
    display: inline-block;
    padding-left: 30px;
}

.former-tenants {
    border-color: aqua;
    text-align: left;
    background-color: antiquewhite;
    float: left;
    width: 50%;
    border-style: double;
}

.former-tenants, #nature {
    position: relative;
}

/* style for the nature image */

#nature {
    float: right;
    border-style: double;
    border-color: aqua;
}

